:root {
  --background-color: #fff8f1;
  --primary-color: #ff922c;
  --header-color: #e5e5e5;
  --text-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: #FFFFFF;
}

.container {
  width: 428px;
  height: 926px;
  margin: auto;
  margin-top: 30px;
  background-color: var(--background-color);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  height: 50px;
}

header a {
  display: flex;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 8px;
}

#banner {
  width: 100%;
  height: 240px;
  max-height: 240px;
  border-radius: 16px;
  overflow: hidden;
  background-image: url("/assets/banner.png") ;
  background-size: cover;
}

#search_box {
  background-color: var(--primary-color);
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#search_box img {
  margin: 0 8px;
}

#search_box input {
  color: #FFFFFF;
  background-color: var(--primary-color);
  border: none;
  flex: 1;
  height: 80%;
  font-size: 14px;
  padding: 4px
}

#search_box input::placeholder{
  color: #050505;
  opacity: 0.5;
}

#foods_options {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 48px 0;
}

.food_column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.food_column p{
  margin-bottom: 10px;
}

div.food_column > img {
  margin-top: 45px;
}

.dishess{
  background: #FFFFFF;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.14);
  border-radius: 25px;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dish {
  width: 78px;
  height: 78px;
  display: flex;
  align-items: flex-end;
}

.dish img {
  width: 100%;
  height: 100%;
}

.dish img + img {
  width: 10px;
  height: 10px;
  position: absolute;
}

#order_now{
  width: 160px;
  border-radius: 35px;
  border: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  margin: 0 auto;
  padding: 14px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  height: 50px;
  max-height: 50px;
}

footer img {
  width: 20px;
}

#add_food {
  display: flex;
  align-items: center;
  justify-content: end;
  width:58px;
  height: 35px;
  border: 5px solid #FFFFFF;
  box-shadow: 2px 0px 6px rgba(170, 167, 167, 0.46);
  border-radius: 0px 19px 19px 0px;
  margin-left: -20px;
}
